.header1{
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.para{
    padding-right: 175px;
    padding-left: 175px;
    padding-bottom: 100px;
}

.img{
    padding-left: 300px;
    padding-top: 25px;
}